<div class=" sidebar" role="navigation">
  <div class="navbar-collapse">
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
      <ul class="nav" id="side-menu">
        <li>
          <a href="index1.php" class="active"><i class="fa fa-home nav_icon"></i>Dashboard</a>
        </li>
        <li>
          <a ><i class="fa fa-cogs nav_icon"></i>Category  <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level collapse">
            <li>
              <a href="categories.php">View Category</a>
            </li>
            <li>
              <a href="add_new_category.php">Add New</a>
            </li>
          </ul>
          <!-- /nav-second-level -->
        </li>
        <li>
          <a href="#"><i class="fa fa-book nav_icon"></i>Sub Category  <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level collapse">
            <li>
              <a href="sub_categories.php">View Sub Category</a>
            </li>
            <li>
              <a href="add_new_sub_category.php">Add New</a>
            </li>
          </ul>
          <!-- /nav-second-level -->
        </li>
        <li>
          <a href="#"><i class="fa fa-tablet nav_icon"></i>Products  <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level collapse">
            <li>
              <a href="products.php">Manage Product</a>
            </li>
            <li>
              <a href="add_new_product.php">Add New</a>
            </li>
          </ul>
          <!-- /nav-second-level -->
        </li>
        <li>
          <a href="#"><i class="fa fa-user nav_icon"></i>User  <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level collapse">
            <li>
              <a href="users.php">Manage User</a>
            </li>
            <li>
              <a href="add_new_user.php">Add New</a>
            </li>
          </ul>
          <!-- /nav-second-level -->
        </li>

      </ul>
      <!-- //sidebar-collapse -->
    </nav>
  </div>
</div>
